<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <title>CoWin Hawk</title>
	<link type="text/css" rel="stylesheet" href="/static/css/vendor/bootstrap.css?u={{ last_updated }}">
	<link type="text/css" rel="stylesheet" href="/static/css/styles.css?u={{ last_updated }}">
</head>

<body>
    <!-- <div class="container"> -->
	    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
	      	<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
	        	<img src="/static/img/hawkshield.jpg?u={{ last_updated }}" alt="" class="bi me-2" width="45" height="40">
	        	<span class="fs-4">CoWin Hawk</span>
	      	</a>

	      	<ul class="nav nav-pills">
		        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Dashboard</a></li>
		        <li class="nav-item"><a href="/register" class="nav-link">Register</a></li>
		        <li class="nav-item"><a href="/details" class="nav-link">Details</a></li>
	      	</ul>
	    </header>
  	<!-- </div> -->

	<!-- Container for other pages -->
  	<div class="container">
		<!-- Notification Bar -->
			<div class="notification-container">
				<div class="alert alert-dismissible fade show" role="alert">
					<div id="notification-content">
						<!-- placeholder to add message -->
					</div>
					<button type="button" class="btn-close close" data-dismiss="alert" aria-label="Close">
					</button>
				</div>
			</div>	

		<!-- Other pages goes here ... -->
  		{% block content %}
    	{% endblock %}
  	</div>
    

	<footer class="page-footer fixed-bottom font-small blue ">
		<!-- Copyright -->
	  	<div class="footer-copyright text-center py-3">© Designed By Prince & Ritesh from <a href="#">Team Hawk</a>
	  	</div>

	</footer>
	<script type="text/javascript" src="/static/js/services.js?u={{ last_updated }}" defer></script>
	<script type="text/javascript" src="/static/js/validation.js?u={{ last_updated }}" defer></script>
	<script type="text/javascript" src="/static/js/app.js?u={{ last_updated }}" defer></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/static/js/vendor/bootstrap.min.js?u={{ last_updated }}"></script>

</body>

</html>