<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <title>CoWin Hawk</title>
</head>

<body>
    <!-- <div class="container"> -->
	    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
	      	<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
	        	<img src="/static/img/hawkshield.jpg?u={{ last_updated }}" alt="" class="bi me-2" width="45" height="40">
	        	<span class="fs-4">CoWin Hawk</span>
	      	</a>

	      	<ul class="nav nav-pills">
		        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Dashboard</a></li>
		        <li class="nav-item"><a href="/register" class="nav-link">Register</a></li>
		        <li class="nav-item"><a href="/details" class="nav-link">Details</a></li>
	      	</ul>
	    </header>
  	<!-- </div> -->

  	<div class="container">
  		<!-- Other pages go here -->

  		{% block content %}
    	{% endblock %}
  	</div>
    

	<footer class="page-footer fixed-bottom font-small blue ">
		<!-- Copyright -->
	  	<div class="footer-copyright text-center py-3">© Logo icons Designed By haris99 from <a href="https://pngtree.com/">Pngtree.com</a>
	  	</div>

	</footer>
	
	<script type="text/javascript" src="/static/js/vendor/bootstrap.bundle.min.js?u={{ last_updated }}">
	</script>
	<link type="text/css" rel="stylesheet" href="/static/css/vendor/bootstrap.min.css?u={{ last_updated }}">
	<link type="text/css" rel="stylesheet" href="/static/css/styles.css?u={{ last_updated }}">

</body>

</html>