{% extends "base.html" %}
{% block content %}
<div class="row">
	<table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone No.</th>
            <th scope="col">Pincode</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>123456789</td>
            <td>80503</td>
            <td>Slot Available go go go</td>
          </tr>
          <tr>
            <td>Mark</td>
            <td>123456789</td>
            <td>80503</td>
            <td>Slot Available go go go</td>
          </tr>
          <tr>
            <td>Mark</td>
            <td>123456789</td>
            <td>80503</td>
            <td>Slot Available go go go</td>
          </tr>
        </tbody>
      </table>
</div>
{% endblock %}